/*-------------------------------------------------------------------------------
  1. Global
-------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Teko:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
html {
  font-size: 12px;
}
html > body .underline {
  text-decoration: none;
}
html > body .underline:hover {
  text-decoration: none;
}
html > body .text-grey {
  color: #666666;
}
html > body .text-grey-light {
  color: #999999;
}
html > body .fs18 {
  font-size: 1.125rem;
}
html > body .fs28 {
  font-size: 1.75rem;
}
html > body .fs30 {
  font-size: 1.875rem;
}
html > body .fs36 {
  font-size: 2.25rem;
}
html > body .fs48 {
  font-size: 3rem;
}
html > body .lh-md {
  line-height: 1.625;
}
html > body .lh-lg {
  line-height: 1.875;
}
html > body .mt50 {
  margin-top: 3.125rem;
}
html > body .mt70 {
  margin-top: 4.375rem;
}
html > body .mt80 {
  margin-top: 5rem;
}
html > body .mt100 {
  margin-top: 6.5rem;
}
html > body .mb30 {
  margin-bottom: 1.875rem;
}
html > body .mb40 {
  margin-bottom: 2.5rem;
}
html > body .mb50 {
  margin-bottom: 3.125rem;
}
html > body .mb50 {
  margin-bottom: 6.25rem;
}
html > body .mb70 {
  margin-bottom: 4.375rem;
}

body {
  font-family: "Karla", sans-serif;
  color: #273f6a;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #2e2e2e;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1600px) {
  .container-fluid {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
  .container-fluid-md {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }
}
.full-height {
  min-height: 100vh;
}

h2,
.h2,
h3,
.h3 {
  font-weight: bold;
}

h4,
.h4 {
  margin-bottom: 1.75rem;
  letter-spacing: -0.035em;
  font-weight: bold;
}

.font-teko {
  font-family: "Teko", sans-serif;
}

.font-abril {
  font-family: "Abril Fatface", cursive;
  font-weight: normal;
}

.base-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

button:focus,
input:focus {
  outline: none;
}

.btn {
  padding: 0.75rem 2rem 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-sm {
  padding: 0.875rem 1.5rem 0.8125rem;
}

.btn-md {
  padding: 0.875rem 2rem 0.9375rem;
}

.btn .icon {
  margin-left: 0.75rem;
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.375rem;
  margin-bottom: -0.25rem;
  line-height: 1;
  font-size: 1.25rem;
}

.form-control {
  border-radius: 0;
  padding: 0.625rem 1.25rem 0.625rem;
  height: calc(1.5em + 1.25rem + 2px);
}

.label-custom {
  margin-bottom: 0;
  display: block;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
}

.form-control-custom {
  border: none;
  border-bottom: #cccccc 2px solid;
  padding: 0.1 0 0.625rem;
  height: calc(1.5em + 0.625rem + 1px);
  color: #000000;
  font-weight: normal;
  box-shadow: none;
}
.form-control-custom::-webkit-input-placeholder, .form-control-custom::-moz-placeholder, .form-control-custom:-ms-input-placeholder, .form-control-custom::-ms-input-placeholder, .form-control-custom::placeholder {
  color: #999999;
}
.form-control-custom:focus {
  background-color: white;
  border-color: #c3f73a;
  box-shadow: none;
}
.form-control-custom:disabled {
  background-color: white;
  border-color: #c3f73a;
  color: #cccccc;
  box-shadow: none;
}

.error-hint {
  color: #e74c3c;
}

.hidden {
  display: none;
}

.thank-you {
  padding: 40px;
  font-size: 32px;
  text-align: center;
}

/*-------------------------------------------------------------------------------
  2. Header
-------------------------------------------------------------------------------*/
.header {
  padding-top: 1.5rem;
  transition: margin-top 0.5s ease-in-out;
  margin-top: 0;
}

@media (min-width: 768px) {
  .header {
    padding-top: 2.625rem;
  }
}
.header-fixed {
  position: fixed;
  background: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
}

.header-affix {
  position: fixed !important;
  top: -5rem !important;
  left: 0;
  width: 100%;
  z-index: 900;
  background: #ffffff;
  padding-top: 0.75rem !important;
  padding-bottom: 0.5rem !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0 3px 15px;
  margin-top: 5rem;
}

.brand {
  float: left;
  margin-right: 1rem;
  white-space: nowrap;
}
.brand a {
  color: inherit;
  text-decoration: none;
}

.img-logo {
  background-image: url("../img/NovanopCOM-black.png");
  width: 200px;
  height: 40px;
}

.header-content {
  margin-left: 17.5%;
  margin-right: 17.5%;
}

.header-contacts {
  padding-top: 0.5rem;
  font-weight: bold;
}

.header-contact-item {
  display: inline-block;
  vertical-align: middle;
}

.mail-link,
.mail-link:hover {
  color: inherit;
  text-decoration: none;
}

.nav-toggle-btn {
  background: none;
  border: 0;
  padding: 0;
  margin: 0.25rem 0 0;
  border-radius: 0;
  outline: none;
  float: right;
  position: relative;
  z-index: 995;
  font-weight: bold;
  text-transform: uppercase;
  color: inherit;
}
.nav-toggle-btn:hover {
  color: #808080;
  cursor: pointer;
}
.nav-toggle-btn:focus {
  outline: none;
}
.nav-toggle-btn:hover .stick {
  background-color: grey;
}

.nav-toggle-title {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.75rem;
}

.nav-toggle {
  width: 29px;
  height: 29px;
  display: inline-flex;
  vertical-align: middle;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}

.nav-toggle-sm {
  transform: scale(0.65);
  margin-right: -0.3125rem;
}

.stick {
  width: 29px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #273f6a;
  display: inline-block;
}
.stick:last-child {
  margin-bottom: 0px;
}

.body-menu-opened .nav-toggle-btn {
  color: #273f6a;
}
.body-menu-opened .nav-toggle-btn .stick {
  background-color: #273f6a;
}
.body-menu-opened .stick-1 {
  animation: stick-1-open 0.85s ease-out forwards;
}
.body-menu-opened .stick-2 {
  animation: stick-2-open 0.85s linear forwards;
  width: 29px;
  margin-left: 0px;
}
.body-menu-opened .stick-3 {
  animation: stick-3-open 0.85s linear forwards;
}
.body-menu-opened .menu {
  transform: translateX(0%);
}
.body-menu-opened .menu .menu-main,
.body-menu-opened .menu .social,
.body-menu-opened .menu .menu-copyright {
  opacity: 1;
  transform: translateY(0);
}
@keyframes stick-1-open {
  0% {
    width: 29px;
  }
  30% {
    width: 3px;
    transform: translate(14px, 0px);
  }
  65% {
    width: 3px;
    transform: translate(14px, -29px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  100% {
    width: 2px;
    transform: translate(9px, 17px);
  }
}
@keyframes stick-2-open {
  65% {
    width: 29px;
    transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    width: 29px;
    transform: translate(0px, 0px) rotate(45deg);
  }
}
@keyframes stick-3-open {
  65% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    transform: translate(0px, -8px) rotate(-45deg);
  }
}
.body-menu-closed .stick-1 {
  width: 3px;
  animation: stick-1-close 0.85s ease-out forwards;
}
.body-menu-closed .stick-2 {
  animation: stick-2-close 0.85s ease-out forwards;
  margin-left: 0px;
}
.body-menu-closed .stick-3 {
  animation: stick-3-close 0.85s ease-out forwards;
}
@keyframes stick-1-close {
  0%, 70% {
    width: 0px;
    transform: translate(0, 0);
  }
  100% {
    width: 29px;
    transform: translate(0, 0);
  }
}
@keyframes stick-2-close {
  0% {
    width: 29px;
    transform: translate(0px, 0px) rotate(45deg);
  }
  20% {
    width: 3px;
    transform: translate(0, 0px) rotate(45deg);
  }
  40% {
    width: 0px;
  }
  65% {
    transform: translate(0, -26px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  80% {
    width: 0px;
  }
  100% {
    width: 29px;
    transform: translate(0, 0px);
  }
}
@keyframes stick-3-close {
  0% {
    width: 29px;
    transform: translate(0px, -8px) rotate(-45deg);
  }
  20% {
    width: 3px;
    transform: translate(0, -8px) rotate(-45deg);
  }
  65% {
    transform: translate(0, -35px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  90% {
    width: 3px;
  }
  100% {
    width: 29px;
    transform: translate(0, 0px);
  }
}
.menu {
  background: #c3f73a !important;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  max-width: 100%;
  width: 100%;
  padding: 3.75rem 4.375rem 3.25rem;
  display: flex;
  flex-direction: column;
  transition: transform 0.4s ease-in-out;
  transform: translateX(100%);
}
.menu .social,
.menu .menu-copyright,
.menu .menu-main {
  opacity: 0;
  transform: translateY(3rem);
  transition: all 0.5s ease-in-out;
}
.menu .menu-main {
  transition-delay: 0.4s;
}
.menu .social {
  transition-delay: 0.6s;
}
.menu .menu-copyright {
  transition-delay: 0.8s;
}

@media (min-width: 576px) {
  .menu {
    width: 34rem;
  }
}
@media (max-width: 575px) {
  .menu {
    max-width: 70%;
  }
  .social-fixed {
    display: none;
  }
  .slide-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
  }
}
.hide-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 980;
}

.menu-main {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.menu-main > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu-main > ul > li {
  margin-bottom: 0.9375rem;
}
.menu-main > ul > li > a,
.menu-main > ul > li span {
  font-size: 1.875rem;
  font-weight: bold;
  color: #273f6a;
}
.menu-main a,
.menu-main a:hover {
  position: relative;
  text-decoration: none;
}
.menu-main a:before {
  content: attr(data-text);
  position: absolute;
  width: 0%;
  transition: width cubic-bezier(0.82, 0, 0.21, 1) 0.3s;
  color: #ffffff;
  z-index: 2;
  overflow: hidden;
  white-space: nowrap;
}
.menu-main li.active > a {
  color: transparent !important;
}
.menu-main li.active > a:before {
  width: 100%;
}
.menu-main a:hover:before {
  width: 100%;
}

.menu-footer {
  padding-top: 2rem;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.125rem;
  margin-top: 3.125rem;
}
.social li {
  display: inline-block;
  vertical-align: top;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
}
.social a {
  transition: color 0.2s ease-in-out;
  color: #273f6a;
}
.social a:hover {
  color: grey;
  text-decoration: none;
}

.social-rounded {
  margin-right: -0.625rem;
  font-size: 20px;
}
.social-rounded li {
  margin-right: 0.625rem;
  margin-bottom: 1rem;
}
.social-rounded a {
  display: inline-block;
  border-radius: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  text-align: center;
  line-height: 2.3rem;
  transition: all 0.2s ease-in-out;
}
.social-rounded a:hover {
  background: #273f6a;
  border-color: #273f6a;
  color: #ffffff;
}
.social-rounded i {
  display: inline-block;
  vertical-align: middle;
  line-height: 0.75;
}
.social-rounded i:before {
  display: block;
  line-height: 0.75;
}

.social-fixed {
  position: fixed;
  left: 15px;
  bottom: 0;
  z-index: 400;
}
.social-fixed li {
  display: block;
  margin-right: 0;
  margin-bottom: 2.125rem;
}

@media (min-width: 1600px) {
  .social-fixed {
    left: 3.75rem;
  }
}
.menu-copyright {
  margin-top: 18px;
  font-size: 0.875rem;
  line-height: 1.71428571;
  color: #273f6a;
  text-transform: uppercase;
}
.menu-copyright strong {
  color: #000000 !important;
}

.horizontal-service-item-photo img.photo-position {
  position: absolute;
  padding-left: 2rem !important;
  max-width: 70%;
  max-height: 80%;
}

@media (max-height: 380px) {
  .menu-footer {
    display: none;
  }
}
/*-------------------------------------------------------------------------------
  3. Horizontal Home
-------------------------------------------------------------------------------*/
.section {
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.section-item {
  text-align: center;
}

.section-item + .section-item {
  margin-top: 4rem;
}

@media (min-width: 768px) {
  .section-item + .section-item {
    margin-top: 8.125rem;
  }
  .section {
    padding-top: 10.625rem;
    padding-bottom: 10.625rem;
  }
}
.horizontal-nav {
  width: 100%;
  position: fixed;
  z-index: 300;
  bottom: 5.55555556vmin;
  left: 0;
}
.horizontal-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.horizontal-nav li {
  float: left;
  height: 2px;
  width: 3rem;
  background: #273f6a;
  overflow: hidden;
  transition: background 0.5s ease-in-out;
  position: relative;
}
.horizontal-nav li:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #273f6a;
}
.horizontal-nav li.active:before {
  animation: navWidth 0.5s ease-in-out forwards;
}
.horizontal-nav li.active, .horizontal-nav li.active ~ li {
  background-color: #cccccc;
}
@keyframes navWidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.horizontal-nav li:before {
  width: 100%;
}

.horizontal-nav li.active ~ li:before {
  width: 0%;
}

.horizontal-controls {
  position: absolute;
  right: 15px;
  bottom: -0.625rem;
}

@media (min-width: 992px) {
  .horizontal-nav li {
    width: 6.25rem;
  }
}
@media (min-width: 1600px) {
  .horizontal-controls {
    right: 3.75rem;
  }
}
.horizontal-controls button {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  color: #273f6a;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.horizontal-controls button:hover {
  color: grey;
  cursor: pointer;
}
.horizontal-controls .divider {
  margin-left: 1.625rem;
  margin-right: 1.625rem;
  font-weight: normal;
  color: #cccccc;
}

.home-horizontal .section {
  transition: transform 1.5s ease-in-out;
}
.home-horizontal .active + .section {
  transform: translate3d(30%, 0px, 0px) !important;
}
.home-horizontal .section.active {
  transform: translate3d(0, 0px, 0px);
}

.pp-scrollable {
  overflow-x: hidden;
  overflow-y: auto;
}

.slide {
  background: #ffffff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 100vh;
}

.slide-container {
  position: relative;
  min-height: 100vh;
  padding-top: 9rem;
  padding-bottom: 4rem;
}

@media (min-width: 992px) {
  .slide-container {
    padding-top: 15vmin;
    padding-bottom: 7vmin;
  }
}
@media (min-width: 1400px) {
  .slide-container {
    padding-top: 21.66666667vmin;
  }
}
.slide-video-container {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.slide-title-sub {
  margin-bottom: 2.12962963vmin;
  font-size: 1.875rem;
  text-transform: uppercase;
  line-height: 0.92307692;
  letter-spacing: 0.5px;
}

.slide-dark {
  background-color: #0c0c0c;
  color: #ffffff;
}

.slide-container .video-container {
  display: none;
  pointer-events: none;
}

.slide-container .video-container:before {
  display: none;
}

.slide-bg,
.slide-bg > .inside {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-position: 70% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-bg {
  overflow: hidden;
}

.home-horizontal .slide1 .slide-bg > .inside {
  background-image: url("../img/bg-novanop-scr-or.jpg");
}
.home-horizontal .slide3 .slide-bg > .inside {
  background-image: url("../img/bg-nvn-scr.jpg");
}
.home-horizontal .slide2 .slide-descr {
  line-height: 1.875;
}

.cendekia {
  display: flex;
  width: 210px;
  height: auto;
  left: 1.21em;
  top: 32em;
  position: absolute;
}

.slide-container .container {
  z-index: 100;
}

.slide-contact-mail {
  margin-bottom: 2.77777778vmin;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.5px;
}

.slide [class^=col-] {
  position: static;
}

.num {
  font-size: 3.75rem;
  font-size: 5.55555556vmin;
  font-weight: 500;
  line-height: 1;
  font-family: "Teko", sans-serif;
}

.slide-num {
  margin-bottom: 1.5vmin;
}

@media (min-width: 1400px) {
  .slide-num {
    position: absolute;
    left: 15px;
    top: 22.22222222vmin;
  }
}
@media (min-width: 1600px) {
  .slide-num {
    left: 3.75rem;
  }
}
.slide-content {
  min-height: 50vmin;
  margin-bottom: 3vmin;
}

.home-horizontal h1,
.home-horizontal .h1 {
  margin-left: -0.25rem;
  margin-bottom: 4.07407407vmin;
  font-size: 12.03703704vmin;
  text-transform: uppercase;
  line-height: 0.92307692;
  font-weight: normal;
}
.home-horizontal h2,
.home-horizontal .h2 {
  font-size: 6.66666667vmin;
  text-transform: uppercase;
  line-height: 0.92307692;
  font-weight: normal;
}

.horizontal-top-title {
  margin-top: 0.925925926vmin;
  margin-bottom: 4.44444444vmin;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 0.92307692;
}

.media-title {
  margin-top: 0.55555556vmin;
  margin-bottom: 3rem;
}
.media-title h2,
.media-title .h2 {
  margin-right: 2.375rem;
}

@media (min-width: 992px) {
  .media-title {
    display: flex;
    margin-bottom: 0;
  }
}
.horizontal-service-list {
  margin-top: 3.33333333vmin;
}
.horizontal-service-list > div {
  display: flex;
}

.horizontal-service-item {
  border: #e1e1e1 1px solid;
  padding: 3.88888889vmin 3.125rem 5.09259259vmin;
  position: relative;
  margin-top: 4.62962963vmin;
  display: flex;
  flex-direction: column;
}
.horizontal-service-item:before {
  content: "";
  display: block;
  height: 4px;
  width: 0;
  position: absolute;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: #273f6a;
  transition: width 0.3s ease-in-out;
}
.horizontal-service-item:hover:before {
  width: calc(100% + 2px);
}
.horizontal-service-item .num {
  color: #273f6a;
  font-weight: normal;
}

.horizontal-service-item .num,
.horizontal-service-item-photo {
  margin-bottom: 3.51851852vmin;
}

.horizontal-service-item-photo img.photo-position {
  position: absolute;
  top: -3.125rem;
  left: 36.48648649%;
  max-width: 67.83783784%;
  height: auto;
}

.horizontal-service-item-photo.photo3 img.photo-position {
  top: -3.75rem;
}

.horizontal-service-item-title {
  margin-bottom: 2.59259259vmin;
  font-size: 2rem;
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
}

.horizontal-service-item-descr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 23vh;
  text-align: justify;
}

.horizontal-service-item-title,
.horizontal-service-item-descr {
  position: relative;
  z-index: 100;
}

.horizontal-more-total {
  border-bottom: #000000 1px solid;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.slide-dark a:not(.btn),
.slide-dark a:not(.btn):hover {
  border-bottom-color: #ffffff;
  color: #ffffff;
  text-decoration: none;
}
.slide-dark a.underline {
  text-decoration: underline;
}

.preloader {
  position: fixed;
  overflow: hidden;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #4b4b4b;
  text-align: center;
}

.slide-num {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transition-delay: 1.5s;
}

.home-horizontal .section.active .slide-num {
  opacity: 1;
}
.home-horizontal .slide-title,
.home-horizontal .slide-body {
  opacity: 0;
  transform: translateX(-200px);
  transition: all 0.5s ease-in-out;
}
.home-horizontal .slide-body {
  transition-delay: 0.2s;
}
.home-horizontal .active + .section .slide-title,
.home-horizontal .active + .section .slide-body {
  opacity: 0;
  transform: translateX(400px);
}
.home-horizontal .section.active .slide-title,
.home-horizontal .section.active .slide-body {
  opacity: 1;
  transform: translateX(0);
}
.home-horizontal .active + .section .slide-title,
.home-horizontal .section.active .slide-title {
  transition-delay: 0.7s;
}
.home-horizontal .active + .section .slide-body,
.home-horizontal .section.active .slide-body {
  transition-delay: 0.9s;
}
.home-horizontal .slide-note {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transition-delay: 1.2s;
}
.home-horizontal .section.active .slide-note {
  opacity: 1;
}

.slide-bg > .inside {
  transition: transform 0.8s ease-in-out;
  transform: scale(1.08);
  transition-delay: 0.8s;
}

.section.active .slide-bg > .inside {
  transform: scale(1);
}

/*-------------------------------------------------------------------------------
  4. Work Pages
-------------------------------------------------------------------------------*/
.nav-inline {
  margin-right: -15px;
  margin-bottom: 2.625rem;
  letter-spacing: -0.015em;
}
.nav-inline li {
  margin-right: 2.25rem;
  margin-bottom: 1rem;
}
.nav-inline a {
  cursor: pointer;
}
.nav-inline .active a,
.nav-inline a:hover {
  text-decoration: none;
}
.nav-inline .text-black .active a,
.nav-inline .text-black a:hover {
  color: #c3f73a;
}

.text-center .nav-inline {
  margin-right: 0;
  justify-content: center;
}
.text-center .nav-inline li {
  margin-left: 1.125rem;
  margin-right: 1.125rem;
}

.parallax-link a,
.parallax-link a:hover {
  position: relative;
  text-decoration: none;
  color: #666666 !important;
}
.parallax-link a:before {
  content: attr(data-text);
  position: absolute;
  width: 0%;
  transition: width cubic-bezier(0.82, 0, 0.21, 1) 0.3s;
  color: #c3f73a;
  z-index: 2;
  overflow: hidden;
  white-space: nowrap;
}
.parallax-link li.active > a:before,
.parallax-link a:hover:before {
  width: 100%;
}

.project-list-listing + .more-lg {
  margin-top: 4.375rem;
}

.project-list-masonry + .more-lg {
  margin-top: 6.25rem;
}

.grid-item {
  width: 100%;
}

.project-list-listing a,
.project-list-masonry a {
  color: #000000;
  text-decoration: none;
}

.project-list-listing a:hover .project-listing-title,
.project-list-masonry a:hover .project-masonry-title {
  color: #c3f73a;
}

.project-listing-detail {
  margin-top: 2.25rem;
}

.project-listing-title {
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
}

.project-list-flash .project-item,
.project-list-listing .project-item {
  display: block;
  position: relative;
}

.project-list-flash .project-item {
  padding-bottom: 100%;
  overflow: hidden;
}

.project-list-listing .grid-item {
  display: block;
  margin-bottom: 5.625rem;
}

.project-list-masonry .grid-item {
  display: block;
  margin-bottom: 2.5rem;
  padding-left: 15px;
  padding-right: 15px;
}

.project-list-listing .project-item {
  padding-bottom: 44.44444444%;
  overflow: hidden;
}

.project-list-listing .project-listing-photo {
  transform: scale(1);
  transition: all 1s ease-in-out;
}

.project-list-listing a:hover .project-listing-photo {
  transform: scale(1.02);
}

.project-listing-photo {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media (min-width: 576px) {
  .project-list-masonry .grid-item {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .project-list-listing .grid-item {
    width: 100%;
  }
  .project-list-masonry .grid-item {
    width: 25%;
  }
  .project-list-title {
    margin-left: 17.09401709%;
    margin-right: 25%;
  }
  .project-list-title {
    padding-bottom: 20.51282051%;
  }
}
.lead {
  font-weight: normal;
}

.lead-lg {
  font-size: 1.5rem;
}

.project-card-web-promo {
  background: #dde2e4;
  height: 0;
  padding-bottom: 52.08333333%;
  overflow: hidden;
  position: relative;
}

.project-card-web-promo .screen-mobile {
  position: absolute;
  left: 14.58333333%;
  top: 18.7962963%;
  width: 20.83333333%;
}

.project-card-web-promo .screen-desktop {
  position: absolute;
  left: 28.90625%;
  top: 18.7962963%;
  width: 59.0625%;
}

.project-card-web-promo img,
.photo-item-grey img,
.photo-item img {
  max-width: 100%;
}

.photo-item-grey {
  background: #dde2e4;
  padding: 7.29166667% 15px;
  text-align: center;
}
.photo-item-grey .inside {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: rgba(146, 156, 160, 0.75) 0 2.5rem 9.375rem;
}
.photo-item-grey .inside img {
  width: 100%;
}
.photo-item-grey img {
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}

.photo-item-grey-parallax {
  height: 0;
  padding-bottom: 72.72727273%;
  padding-top: 0;
  overflow: hidden;
  position: relative;
}

.project-info-title {
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
  font-weight: bold;
  color: #273f6a;
  text-transform: uppercase;
}

.pallete-list {
  margin-right: -4rem;
}

@media (max-width: 767px) {
  .pallete-list {
    margin-bottom: 5rem;
  }
  .project-card-web-promo {
    padding-bottom: 80%;
  }
  .project-card-web-promo .screen-desktop,
  .project-card-web-promo .screen-mobile {
    margin-top: 4rem;
  }
}
.pallete-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 4rem;
  margin-bottom: 2.375rem;
  text-align: center;
}

.color {
  display: block;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 3.75rem;
  margin-bottom: 24px;
}

.color-title {
  color: #999999;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.testimonial-text {
  margin-bottom: 5rem;
  letter-spacing: -0.025em;
  font-size: 1.5rem;
  line-height: 1.73333333;
}

.testimonial-item-lg .testimonial-text {
  font-size: 2.25rem;
  line-height: 1.66666667;
}

.testimonial-author {
  letter-spacing: 0.05em;
}
.testimonial-author .text-grey strong {
  color: #000000;
}
.testimonial-author:before, .testimonial-author:after {
  content: " - ";
}

.inside-left {
  width: 60%;
  position: absolute;
  left: 10%;
  top: 40%;
  z-index: 10;
}

.inside-right {
  width: 60%;
  position: absolute;
  left: 43.03030303%;
  top: -96.66666667%;
}

.inside-center {
  width: 76.60606061%;
  position: absolute;
  left: 11.75757576%;
  top: 17.16666667%;
}

@media (min-width: 768px) {
  .photo-list {
    margin-bottom: -10.75rem;
  }
  .photo-item {
    margin-bottom: 14.375rem;
  }
  .photo-item.col-md-6:nth-child(odd) {
    text-align: right;
    padding-right: 4.42708333%;
  }
  .photo-item.col-md-6:nth-child(even) {
    text-align: left;
    padding-left: 4.42708333%;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-150px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(150px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.next-project {
  position: relative;
  background: #eaeeef;
}

.next-project [class^=col-] {
  position: static;
}

.next-project a {
  display: block;
  padding-top: 3.25rem;
  padding-bottom: 3rem;
  text-decoration: none;
  color: #000000;
}

.next-project-link {
  text-align: right;
}

.next-project-photo {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0;
  transition: all 0.5s 0.5s ease-in-out;
}

.prev-project-link .next-project-photo {
  left: 0;
  right: 50%;
}

.next-project-link .next-project-photo {
  left: 50%;
  right: 0;
}

.next-project a:hover .next-project-photo {
  opacity: 1;
}

.next-project h3,
.next-project .h3 {
  position: relative;
  top: 0;
  opacity: 1;
  font-size: 1.5rem;
  transition: all 0.4s 0.3s ease-in-out;
}

.next-project-promo {
  height: 24rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  background-position: 50% 0%;
  background-size: cover;
  text-align: center;
}

.next-title {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.next-project .next-title {
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
  color: #999999;
  position: relative;
  top: 0;
  opacity: 1;
  transition: all 0.4s 0.2s ease-in-out;
}

.next-project a:hover .next-title,
.next-project a:hover h3,
.next-project a:hover .h3 {
  top: -2rem;
  opacity: 0;
}

.screen-item {
  border: #cccccc 1px solid;
  margin-bottom: 30px;
  display: block;
}
.screen-item img {
  display: block;
  width: 100%;
}

/*-------------------------------------------------------------------------------
  5. Footer
-------------------------------------------------------------------------------*/
@media (min-width: 768px) {
  .fixed-footer .wrapper {
    position: relative;
    z-index: 200;
    margin-bottom: 51.875rem;
    background: #ffffff;
  }
  .fixed-footer-lg .wrapper {
    margin-bottom: 59.375rem;
  }
  .fixed-footer .footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
  }
}
.light-mode .text-primary,
.light-mode .nav-inline.text-black .active a,
.light-mode .nav-inline.text-black a:hover {
  color: #c3f73a !important;
}
.light-mode .btn-primary {
  position: relative;
  background-color: #c3f73a;
  color: #2e2e2e;
  border-color: #c3f73a;
}
.light-mode .btn-primary:not(:disabled):not(.disabled).active:focus, .light-mode .btn-primary:not(:disabled):not(.disabled):active:focus,
.light-mode .btn-primary .focus, .light-mode .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem white;
}
.light-mode .btn-primary:disabled, .light-mode .btn-primary:hover:disabled {
  background-color: #161616;
  border-color: #161616;
}
.light-mode .btn-primary:hover, .light-mode .btn-primary:not(:disabled):not(.disabled).active, .light-mode .btn-primary:not(:disabled):not(.disabled):active {
  background-color: #273f6a;
  border-color: #273f6a;
  color: #c3f73a;
}
.light-mode .header-fixed {
  background-color: transparent;
}
.light-mode .bg-primary {
  color: #c3f73a;
}

.dark-mode .header,
.dark-mode .social-fixed a {
  color: #ffffff;
}
.dark-mode .header-fixed {
  position: fixed;
  background: transparent;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
}
.dark-mode .nav-toggle-btn:hover {
  color: #c3f73a;
}
.dark-mode .nav-toggle-btn:hover .stick {
  background-color: #c3f73a;
}
.dark-mode .social a:hover {
  color: #c3f73a;
}
.dark-mode .img-logo {
  background-image: url("../img/NovanopCOM.png");
  width: 200px;
  height: 40px;
}
.dark-mode .stick,
.dark-mode #pp-nav span,
.dark-mode .pp-slidesNav span {
  background: #ffffff;
}
.dark-mode .horizontal-nav li.active,
.dark-mode .horizontal-nav li.active ~ li {
  background: #ffffff;
}
.dark-mode .horizontal-nav li:before {
  background: #c3f73a;
}
.dark-mode .horizontal-controls button {
  color: #ffffff;
}
.dark-mode .horizontal-controls button:hover {
  color: #c3f73a;
  cursor: pointer;
}
.dark-mode .social-rounded-fixed a {
  border-color: #ffffff;
}

.body-menu-opened .dark-mode .nav-toggle-btn:hover {
  color: #273f6a;
}
.body-menu-opened .dark-mode .nav-toggle-btn .stick {
  background-color: #273f6a;
}

.novanop {
  padding: 2rem 0;
  width: 150px;
  height: auto;
}

@media (min-width: 768px) {
  html {
    font-size: 13px;
  }
  .cendekia {
    width: 500px;
    left: 55%;
    top: 20%;
    overflow-y: hidden;
    cursor: pointer;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 14px;
  }
  .cendekia {
    display: flex;
    width: 700px;
    height: auto;
    position: absolute;
    left: 52%;
    top: 15%;
    overflow-y: hidden;
    cursor: pointer;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 16px;
  }
}
.button-text {
  transition: all ease 0.2s;
}

.button-loading::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s linear infinite;
}
.button-loading .button-text {
  visibility: hidden;
  opacity: 0;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@media (max-width: 390px) {
  .horizontal-service-item-photo img.photo-position {
    padding-left: 5rem !important;
    max-height: 60%;
  }
}
.iconset {
  margin-right: 4px;
  width: 30px;
  height: 30px;
  margin-top: 15px;
  display: inline-block;
}

.icon-container {
  display: inline-block;
}

.iconset-html {
  background-image: url(../img/icon/html5.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  align-content: center;
  transition: all 0.2s ease;
}
.iconset-html:hover, .iconset-html:focus {
  background-image: url(../img/icon/html5-grey.svg);
}

.iconset-css {
  background-image: url(../img/icon/css3.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  transition: all 0.2s ease;
}
.iconset-css:hover, .iconset-css:focus {
  background-image: url(../img/icon/css3-grey.svg);
}

.iconset-javascript {
  background-image: url(../img/icon/javascript.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  transition: all 0.2s ease;
}
.iconset-javascript:hover, .iconset-javascript:focus {
  background-image: url(../img/icon/javascript-grey.svg);
}

.iconset-react {
  background-image: url(../img/icon/react.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  transition: all 0.2s ease;
}
.iconset-react:hover, .iconset-react:focus {
  background-image: url(../img/icon/react-grey.svg);
}

.iconset-node {
  background-image: url(../img/icon/nodejs.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  transition: all 0.2s ease;
}
.iconset-node:hover, .iconset-node:focus {
  background-image: url(../img/icon/nodejs-grey.svg);
}

.iconset-figma {
  background-image: url(../img/icon/figma.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  transition: all 0.2s ease;
}
.iconset-figma:hover, .iconset-figma:focus {
  background-image: url(../img/icon/figma-grey.svg);
}

.iconset-xd {
  background-image: url(../img/icon/adobe.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  transition: all 0.2s ease;
}
.iconset-xd:hover, .iconset-xd:focus {
  background-image: url(../img/icon/adobe-grey.svg);
}

.iconset-ai {
  background-image: url(../img/icon/ai.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  transition: all 0.2s ease;
}
.iconset-ai:hover, .iconset-ai:focus {
  background-image: url(../img/icon/ai-grey.svg);
}

.iconset-psd {
  background-image: url(../img/icon/psd.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  transition: all 0.2s ease;
}
.iconset-psd:hover, .iconset-psd:focus {
  background-image: url(../img/icon/psd-grey.svg);
}

.iconset-next {
  background-image: url(../img/icon/next-js.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  transition: all 0.2s ease;
}
.iconset-next:hover, .iconset-next:focus {
  background-image: url(../img/icon/next-js-grey.svg);
}

.iconset-sass {
  background-image: url(../img/icon/sass.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  transition: all 0.2s ease;
}
.iconset-sass:hover, .iconset-sass:focus {
  background-image: url(../img/icon/sass-grey.svg);
}

.iconset-github {
  background-image: url(../img/icon/github.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  transition: all 0.2s ease;
}
.iconset-github:hover, .iconset-github:focus {
  background-image: url(../img/icon/github-grey.svg);
}

.iconset-wordpress {
  background-image: url(../img/icon/wordpress.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  transition: all 0.2s ease;
}
.iconset-wordpress:hover, .iconset-wordpress:focus {
  background-image: url(../img/icon/wordpress-grey.svg);
}

.iconset-redux {
  background-image: url(../img/icon/redux.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  transition: all 0.2s ease;
}
.iconset-redux:hover, .iconset-redux:focus {
  background-image: url(../img/icon/redux-grey.svg);
}

.iconset-tailwind {
  background-image: url(../img/icon/tailwind.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  align-content: center;
  transition: all 0.2s ease;
}
.iconset-tailwind:hover, .iconset-tailwind:focus {
  background-image: url(../img/icon/tailwind-grey.svg);
}/*# sourceMappingURL=style.css.map */